@page "/todo"
@using System.Threading
@using Templates.Blazor2.Abstractions
@using Cortex.Net.Blazor
@using Templates.Blazor2.UI.Stores
@attribute [Observer]
@inject AuthStateProvider AuthStateProvider
@inject TodoPageStore todoPageStore

@{
    Debug.WriteLine("Rendering TodoPage");
}
<h1>Todo List</h1>

<FusionStateStatusBadge FusionStateStatus="@todoPageStore.FusionStateStatus" />

<Text Margin="Margin.Is1.OnY">
    Updated: <b><MomentsAgoBadge Value="@todoPageStore.LastStateUpdateTimeUtc" /></b>
</Text>

<AuthorizeView>
    <NotAuthorized>
        <SignInDropdown Why="to use this page" />
    </NotAuthorized>
    <Authorized>
        <WhenException2 Exception="@todoPageStore.FusionQueryException" />
        <WhenException2 Exception="@todoPageStore.FusionCommandException" Title="Update failed!" />
        <Row>
            <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnTablet">
                @{
                    // TODO: The computed value 'PageResponse' is null when the render is triggered by Fusion's
                    //          AuthState param below. High road Workaround is to move the Auth info also into a Cortex model
                    //          as everything should go in there anyway.
                    var response = todoPageStore.PageResponse;
                    var todos = response?.Todos;
                }
                @if (todos == null)
                {
                    //Todo: Dump stack to debug window to find who triggered this render
                    <span>Null Todos</span>
                }
                else if (todos.Length == 0)
                {
                    <span>0 Todos</span>
                }
                else
                {
                    foreach (var todo in todos)
                    {
                        <TodoItem @key="@todo.Id" Item="@todo" />
                    }
                }

                @if (todoPageStore.HasMore)
                {
                    <Button Clicked="_ => LoadMore()" Color="Color.Primary" Margin="Margin.Is3.OnY">
                        Load more <Blazorise.Icon Name="FontAwesomeIcons.AngleDoubleDown" />
                    </Button>
                }

                <Form @onsubmit="_ => Create()" Margin="Margin.Is3.OnY">
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <Button Type="@ButtonType.Submit" Color="Color.Primary">
                                <Blazorise.Icon Name="@FontAwesomeIcons.PlusSquare" />
                            </Button>
                        </Addon>
                        <input @bind="NewTodoTitle" @bind:event="onchange" class="form-control" />
                    </Addons>
                </Form>
            </Column>
        </Row>
    </Authorized>
</AuthorizeView>


@code {
    private string NewTodoTitle { get; set; } = "";
    // AuthState property below seemingly does nothing, right?
    // But try to comment out this line & sign-in + sign-out. See the error badge stays there for a while now?
    // Check your explanation on our Discord: https://discord.gg/EKEwv6d
    // [CascadingParameter] protected Task<AuthState> AuthState { get; set; } = null!;

    private void LoadMore()
    {
        todoPageStore.LoadMore();
    }

  

    private Task Create()
    {
        return todoPageStore.CreateTodo(NewTodoTitle);
    }
}
